<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>燃料电池电动汽车标准状态</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body>
    <div class="container">
      <ol class="breadcrumb my-4">
        <li class="breadcrumb-item active">燃料电池电动汽车标准状态</li>
      </ol>
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>标准类型</th> 
            <th>标准立项号</th>
            <th>标准名称</th>
            <th>标准下达日期</th>
            <th>标准工作周期</td>
            <th>标准状态</th>
            <th>标准延期周期</th>
            <th>标准截止日期</th>
            <th>倒计时</th>
          </tr>
        </thead>
     <tbody>
          {% for standard in standards %}
            <tr>
              <td class='align-middle'> {{ standard.stdcat }} </td>
              <td class="align-middle">{{ standard.stdnum }}</td>
              <td class="align-middle">{{standard.stdname }}</td>
              <td class="align-middle">{{ standard.stdyear|date:'Y' }}</td>
              <td class="align-middle">{{standard.period}}</td>
              <td class='align-middle'>{{standard.stddelaystate}}</td>
              <td class="align-middle">{{standard.stddelay}}</td>
              
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>